{% extends 'home/basic.html' %}
{% block css %}
.col-md-3{
    display: inline-block;
    margin-left :5%;
    margin-bottom :30px;
    }
.col-md-3 img{
    max-width:285px;
    height:150px;
    }
body {
    padding-left :auto;
    padding-right:auto;
    }
p,h5,h1,h4{
    font-family:Playball;
 }
h1{color :#669999;
    margin-left :7%;
    text-shadow:-30px 20px 20px dimgrey;
    margin-bottom : 30px;
    margin-top : 5%;}
.container {
    
    position:relative;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: grey;
  }
.container:hover .overlay {
    opacity: 1;
  }
  .fa-github:hover {
    color: black;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .fa-user{
  color:white;}
.footer {
    
    padding: 20px;
    text-align: center;
    background: ;
    color:white;}
    @media (min-width: 600px and max-width:10000px){
      .container{
    position:relative;
        }
        .col-x3-3{
          margin-right :100px;
          margin-left:100px;
        }

    
    }
  
{% endblock css %}
{% block body %}
<h1>PROJECTS</h1>
{% load static %}
<p>
 
      <div class="col-x3-3 col-sm-3 col-md-3 col-y3-3">
        <div class="card align-items-center" style="width: 18rem;">
            <div class="container">
              <img src="{% static 'home/images/project.jpg' %}" class="card-img-top" alt="...">
                <div class="overlay">
                  <a href="https://github.com/manisha1999/ecommerce.git" class="icon" title="github link" ><img src="https://img.icons8.com/fluent/48/000000/github.png"/ style="width:50px;height:50px;" ></a>

                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title" id="namepr{{i.id}}">Trinetra</h5>
            </div>
            <p class="card-text">web app used for sale of electronic devices used for security purpose</p>

        </div>
     </div>


     <div class="col-x3-3 col-sm-3 col-md-3 col-y3-3">
      <div class="card align-items-center" style="width: 18rem;">
          <div class="container">
            <img src="{% static 'home/images/portfolio.jpg' %}" class="card-img-top" alt="...">
              <div class="overlay">
                <a href="https://github.com/manisha1999/ecommerce.git" class="icon" title="github link"><img src="https://img.icons8.com/fluent/48/000000/github.png"/ style="width:50px;height:50px;"></a>

              </div>
          </div>
          <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">Network marketing</h5>
          </div>
          <p class="card-text">network marketing portfolio.</p>

      </div>
   </div>

  
 

</p>
<footer style="margin-top:10% ;">
    <div class="container" >
        <div class="row well ml-t">
            <div class="col-lg-8 col-md-8">
                <h4 style="color: white;">Developed by: <a href="#" target="_blank">Manisha</a></h4>
            </div>
            <div class="col-lg-4 col-md-4">
                <p class="m-t" style="color: white;">Copyright &copy <a href="#" target="_blank">www.Manisha.com</a> 2017</p>
                <p style="color: white;">All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}